/* This document demonstrates CSS or Cascading Style Sheets formatting in association with the css.html file */
/* Comments Goe Here Between These Outside Marks */


h4 {
    color: rgb(40,40,40);
    background-color: rgb(230,230,230);
    padding: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-align: center;

}




#paragraphExample01 {
    color: rgb(0,0,200);
    font-size: 20px;
}



#tableOfContents {
    color: rgb(0,200,0);
    font-size: 30;
}











/*
------------CSS RULE-------------


selector
 _|__
|    |








*/
