/* This document demonstrates CSS or Cascading Style Sheets formatting in association with the css.html file */
/* Comments Goe Here Between These Outside Marks */

#paragraphExample01 {
    color: rgb(0,0,200);
    font-size: 20px;
}










#tableOfContents {
    color: rgb(0,200,0);
    font-size: 30;
}














/*
------------CSS RULE-------------


selector
 _|__
|    |








*/
